* {
  margin: 0;
}

$font-main: Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";

.about-footer {
    float: left;
    font-family: $font-main;
    font-size: 13px;
    padding: 5px;
    padding-top: 20px;
}

body {
  background: #fff;
}

#contributions::before {
  content: url('../images/contributions.png');
  padding: 5px;
}

.copyright {
  float: left;
  font-family: $font-main;
  font-size: 13px;
  padding: 5px;
  padding-top: 20px;
}

.edit-button {
  float: right;
  height: 18px;
  width: 100px;
  background: linear-gradient(to bottom, #F5F5F5 0, #F0F0F0 100%);
  font-family: $font-main;
  font-size: 13px;
  text-align: left;
  margin-right: 25%;
  margin-top: 2%;
  border: 1px solid #ddd;
  border-radius: 4px;
  line-height: 30px;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}

.edit-button::before {
  content: url('../images/edit.png');
  margin-left: 3px;
}

footer {
  margin-bottom: 2%;
  width: 99%;
  margin-right: auto;
  margin-left: auto;
}

.footer-wrapper {
  display: inline-block;
  margin-left: 12%;
  margin-top: 40%;
  border-top: 1px solid #F8F8F8;
  width: 99%;
}

.github-cat {
  float: left;
  margin-left: 0%;
  padding: 10px;
}

#gray-cat {
  margin-left: 10%;
  margin-right: 10%;
}

li {
  list-style-type: none;
}

nav {
  font-family: $font-main;
  font-weight: bold;
  font-size: 14px;
  height: 55px;
  width: 100%;
  background: #F5F5F5;
}

.nav-bar {
  display: inline-block;
  margin-left: 13%;
  padding-top: 0;
  width: 62%;
}

.nav-bar-right {
  margin-left: 61%;
  margin-top: 0;
  padding-top: 0;
  width: 50%;
}

.nav-text {
  display: inline-block;
  margin-left: 2%;
  margin-top: 0%;
}

#name::before {
  content: url('../images/avatar-small.png');
  padding: 5px;
}

#arrow::after {
  content: url('../images/arrow-down.png');
}

.nav-name {
  float: right;
  margin-left: 2%;
  margin-right: -3%;
  padding: 12px;
  padding-left: -12px;
  padding-right: 12px;
}

.new-button {
  float: right;
  height: 25px;
  width: 65px;
  background: linear-gradient(to bottom, #8ADD6D 0, #569E3D 100%);
  font-family: $font-main;
  font-size: 13px;
  color: #fff;
  text-align: left;
  margin-left: 1%;
  margin-right: 21%;
  margin-top: -1%;
  border: 1px solid #5CA941;
  border-radius: 4px;
  line-height: 30px;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.new-button::before {
  content: url('../images/newrepo-button.png');
  margin-right: 5px;
}

.profile-name {
  font-family: $font-main;
  font-weight: bold;
  font-size: 20px;
  display: block;
  overflow: hidden;
  width: 100%;
}

#public-activity::before {
  content: url('../images/activity.png');
  padding: 5px;
}

.repo-nav {
  font-family: $font-main;
  font-size: 17px;
  color: #666666;
  list-style-type: none;
  margin-left: 30%;
}

.repo-tabs {
  font-family: $font-main;
  margin-right: -5%;
  margin-top: -1.5%;
}

.repo {
  display: inline-block;
  margin-top: 2%;
  margin-left: 0;
  padding: 10px;
}

#repositories::before {
  content: url('../images/book-icon.png');
  padding: 5px;
}

.search-bar {
  display: inline-block;
  width: 250px;
  height: 30px;
  font-family: $font-main;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding-left: 10px;
  margin-left: 30%;
  margin-top: 1%;
}

.search-github {
  display: inline-block;
  width: 350px;
  height: 30px;
  font-family: $font-main;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding-left: 10px;
  margin-left: 0;
  margin-top: 10px;
}

.search-button {
  display: inline-block;
  height: 30px;
  width: 65px;
  background: linear-gradient(to bottom, #F5F5F5 0, #F0F0F0 100%);
  font-family: $font-main;
  font-size: 13px;
  text-align: center;
  margin-left: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  line-height: 30px;
  font-weight: bold;
}

.tab {
  float: right;
  margin-left: 1%;
}
