* {
  margin: 0;
}

$font-main: Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
$border: 1px solid #dddddd;

a, a:visited {
  text-decoration: none;
  color: #4183C4;
}
.about-footer {
    float: left;
    font-family: $font-main;
    font-size: 13px;
    padding: 5px;
    padding-top: 20px;
}

.active {
  border: $border;
  border-bottom: 1px solid #fff;
  border-radius: 10px 10px 0px 0px;
}

#arrow::after {
  content: url('../images/arrow-down.png');
}

#avatar {
  margin-left: 5%;
  img {
    border-radius: 6px;
    height: 237px;
  }
}

#blog::before {
  margin: 5px;
  content: url('../images/blog.png');
}

body {
  background: #fff;
  width: 100%;
}

.copyright {
  float: left;
  font-family: $font-main;
  font-size: 13px;
  padding: 5px;
  padding-top: 20px;
}

.edit-button {
  float: right;
  height: 18px;
  width: 100px;
  background: linear-gradient(to bottom, #F5F5F5 0, #F0F0F0 100%);
  font-family: $font-main;
  font-size: 13px;
  text-align: left;
  margin-right: 25%;
  margin-top: 2%;
  border: 1px solid #ddd;
  border-radius: 4px;
  line-height: 30px;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}

.edit-button::before {
  content: url('../images/edit.png');
  margin-left: 3px;
}

#email::before {
  margin: 5px;
  content: url('../images/maillogo.png');
}

.followers {
  margin: 1.5%;
  display: inline-block;
  text-align: center;
}

footer {
  margin-bottom: 2%;
  width: 99%;
  margin-right: auto;
  margin-left: -50%;
}

.footer-wrapper {
  display: inline-block;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 30%;
  border-top: 1px solid #F8F8F8;
  width: 100%;
}

.github-cat {
  float: left;
  margin-left: 0%;
  padding: 10px;
}

#gray-cat {
  margin-left: 10%;
  margin-right: 10%;
}

#joined::before {
  margin: 5px;
  content: url('../images/clocklogo.png');
}

h2, h2:visited {
  display: inline-block;
  font-family: $font-main;
  font-size: 20px;
  text-decoration: none;
}

li {
  list-style-type: none;
}

#location::before {
  margin: 5px;
  content: url('../images/mapdot.png');
}

#login {
  font-family: $font-main;
  font-size: 20px;
  color: #666674;
  font-weight: normal;
  margin-left: 5%;
}

#name::before {
  content: url('../images/avatar-small.png');
  padding: 5px;
}

nav {
  font-family: $font-main;
  font-weight: bold;
  font-size: 14px;
  height: 55px;
  width: 100%;
  background: #F5F5F5;
}

.nav-bar {
  display: inline-block;
  margin-left: 13%;
  padding-top: 0;
  width: 62%;
}

.nav-bar-right {
  margin-left: 61%;
  margin-top: 0;
  padding-top: 0;
  width: 50%;
}

.nav-name {
  float: right;
  margin-left: 2%;
  margin-right: -3%;
  padding: 12px;
  padding-left: -12px;
  padding-right: 12px;
}

.nav-text {
  display: inline-block;
  margin-left: 2%;
  margin-top: 0%;
}

.new-button {
  float: right;
  height: 25px;
  width: 65px;
  background: linear-gradient(to bottom, #8ADD6D 0, #569E3D 100%);
  font-family: $font-main;
  font-size: 13px;
  color: #fff;
  text-align: left;
  margin-left: 1%;
  margin-right: 21%;
  margin-top: -1%;
  border: 1px solid #5CA941;
  border-radius: 4px;
  line-height: 30px;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.new-button::before {
  content: url('../images/newrepo-button.png');
  margin-right: 5px;
}

#owner {
  font-family: $font-main;
  font-size: 26px;
  margin-left: 5%;
}

#profileContainer {
  display: inline-block;
  vertical-align: top;
  margin-left: -70%;
  margin-top: -50%;;
  width: 100%;
}

.profile-content {
  display: inline-block;
  margin-top: 2%;
  font-family: $font-main;
  font-size: 15px;
}

.profile-name {
  margin: 2%;
  font-family: $font-main;
  font-weight: bold;
  font-size: 20px;
  display: block;
  width: 20%;
  border-bottom: 1px solid #F8F8F8;
}

.profile-stats {
  font-family: $font-main;
  font-size: 12px;
  color: #99999C;
  border-top: 1px solid #F8F8F8;
  border-bottom: 1px solid #F8F8F8;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 50%;
}

.repo-description {
  font-family: $font-main;
  font-size: 14px;
  color: #99999C;
}

.profile-wrapper {
  margin-top: -268%;
  margin-left: 15%;
}

.repo-language, .stargazers, .branches {
  display: inline-block;
  margin-left: 15px;
  font-family: $font-main;
  font-size: 15px;
  font-weight: bold;
  color: #99999C;
  padding: 5px;
}

.stargazers::before {
  content: url('../images/star.png');
}

.branches::before {
  content: url('../images/fork.png');
}

.repo-wrapper {
  display:inline-block;
  margin-left: 41%;
  margin-top: 5%;
}

.rep-list-name {
  font-family: $font-main;
  font-size: 10px;
  color: #4183c4;
  text-decoration: none;
}

.repo-nav {
  font-family: $font-main;
  font-size: 17px;
  color: #666666;
  list-style-type: none;
  margin-left: 30%;
  margin-right: 0;
  border-bottom: $border;
}

.repo-tabs {
  font-family: $font-main;
  margin-right: -5%;
  margin-top: -1.5%;
}

.repo_1, .repo_2, .repo_3  {
  display: inline-block;
  margin-top: 2%;
  margin-left: 0;
  padding: 10px;
}

.repo_1::before {
  content: url('../images/contributions.png');
  padding: 5px;
}

.repo_2::before {
  content: url('../images/book-icon.png');
  padding: 5px;
}

.repo_3::before {
  content: url('../images/activity.png');
  padding: 5px;
}

.repo-list {
	list-style: none;
	margin-bottom: 0;
}

#repoList {
  color: #4183c4;
  text-decoration: none;
}

.repo-last-updated {
  display: block;
  margin-top: 8px;
  margin-bottom: 0;
  font-family: $font-main;
  font-size: 13px;
  color: #888;
  border-bottom: 1px solid #eee;
  padding: 10px;
}


.search-bar {
  display: inline-block;
  width: 250px;
  height: 30px;
  font-family: $font-main;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding-left: 10px;
  margin-left: 30%;
  margin-top: 1%;
}

.search-button {
  display: inline-block;
  height: 30px;
  width: 65px;
  background: linear-gradient(to bottom, #F5F5F5 0, #F0F0F0 100%);
  font-family: $font-main;
  font-size: 13px;
  text-align: center;
  margin-left: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  line-height: 30px;
  font-weight: bold;
}

.search-github {
  display: inline-block;
  width: 350px;
  height: 30px;
  font-family: $font-main;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding-left: 10px;
  margin-left: 0;
  margin-top: 10px;
}

section {
  display: none;
}

.stats {
  display: inline-block;
  margin: 0;
  font-family: $font-main;
  font-weight: bold;
  font-size: 30px;
  color: #4183C4;
}

.tab {
  float: right;
  margin-left: 1%;
}
