<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="utf-8">
    <title>shanwynn (Shannon Wynn)</title>
     <link rel="stylesheet" type="text/css" href="styles/main.css">
  </head>
  <body>
    <nav>
      <ul class="nav-bar">
        <li class="github-cat"><a href="http://www.github.com"><img src="images/octocat-icon-big.png" /></a></li>
        <input class="search-github" placeholder="Search GitHub" />
        <li class="nav-text">Explore</li>
        <li class="nav-text">Gist</li>
        <li class="nav-text">Blog</li>
        <li class="nav-text">Help</li>
        <li class="nav-name"><img src="images/signout.png" /></li>
        <li class="nav-name"><img src="images/settings.png" /></li>
        <li class="nav-name"><img src="images/notification.png" /></li>
        <li class="nav-name" id="arrow"><img src="images/plus-icon.png" /></li>
        <li class="nav-name" id="name">shanwynn</li>
      </ul>
    </nav>
    <div>
      <ul class="repo-nav">
        <li class="repo_1" data-target="contributions" id="contributions">Contributions</li>
        <li class="repo_2 active" data-target="repositories" id="repositories">Repositories</li>
        <li class="repo_3" data-target="public-activity" id="public-activity">Public Activity</li>
        <li class="edit-button">Edit Profile</li>
      </ul>
    </div>
    <div class="search-repo">
      <input class="search-bar" placeholder="Find a repository..." />
    <div class="search-button">Search</div>
      <ul class="repo-tabs">
        <li class="new-button">New</li>
        <li class="tab">Mirrors</li>
        <li class="tab">Forks</li>
        <li class="tab">Sources</li>
        <li class="tab">Private</li>
        <li class="tab">Public</li>
        <li class="tab">All</li>
        </ul>
    </div>
    <div class="repo-container">
      <script id="repoTemplate" type="text/template">
      <div class="repo-name">
        <h2><a href="<%=html_url %>"><%=name %></a></h2></div>
          <ul class="stats">
            <li class="repo-language"><%=language %></li>
            <li class="stargazers"><%=stargazers_count %></li>
            <li class="branches"><%=forks_count %></li>
          </ul>
        <div class="repo-description"><%=description %></div>
        <div class="repo-last-updated">Last updated <%=updated_at %></div>
      </div>
      </script>
    <div id="profileContainer"></div>
    <script id="profileTemplate" type="text/template">
    <div id="avatar"><img src="<%= avatar_url %>"/></div>
    <div class="profile-name"></div>
    <div>
        <h1 id="owner">Shannon Wynn</h1>
        <h2 id="login"><%= login %></h2>
    </div>
    <div>
      <ul class="profile-content">
        <li id="location"><%= location %></li>
        <li id="email"><%= email %></li>
        <li id="blog"><%= blog %></li>
        <li id="joined">Joined on <time class="join-date" datetime="2013-10-01T19:00:10Z"
          day="numeric" is="local-time" month="short" year="numeric" title="Oct 1, 2013, 3:00 PM EDT">
          Oct 1, 2013</time></li>
      </ul>
    </div>
    <ul class="profile-stats">
      <a href="https://github.com/<%= login %>/followers">
        <li class="followers">
          <div class="stats"><%= followers %></div>
          Followers
        </li>
      </a>
      <a href="https://github.com/stars/<%= login %>">
        <li class="followers">
          <div class="stats">0</div>
          Starred
        </li>
      </a>
      <a href="https://github.com/<%= login %>/followers">
        <li class="followers">
          <div class="stats"><%= following %></div>
          Following
        </li>
      </a>
    </ul>
    </script>
    <section id="contributions">
      <div class="content"></div>
    </section>
    <section id="repositories" class="active">
      <div class="content"></div>
      <div class="repo-container">
        <div class="repo-name">
          <h2><a href="<%=html_url %>"><%=name %></a></h2></div>
            <ul class="stats">
              <li class="repo-language"><%=language %></li>
              <li class="stargazers"><%=stargazers_count %></li>
              <li class="branches"><%=forks_count %></li>
            </ul>
          <div class="repo-description"><%=description %></div>
          <div class="repo-last-updated">Last updated <%=updated_at %></div>
        </div>
    </section>
      <section id="public-activity">
        <div class="content"></div>
    </section>
    <footer>
      <ul class=footer-wrapper>
        <li class="copyright">&copy; 2014 GitHub, Inc.</li>
        <li class="copyright">Terms</li>
        <li class="copyright">Privacy</li>
        <li class="copyright">Security</li>
        <li class="copyright">Contact</li>
        <li class="copyright" id="gray-cat"><img src="images/octocat-icon-gray.png" /></li>
        <li class="about-footer">Status</li>
        <li class="about-footer">API</li>
        <li class="about-footer">Training</li>
        <li class="about-footer">Shop</li>
        <li class="about-footer">Blog</li>
        <li class="about-footer">About</li>
      </ul>
    </footer>
    <script type='text/template'></script>
    <script src='jquery/dist/jquery.js'></script>
    <script src='underscore/underscore.js'></script>
    <script src='scripts/main.js'></script>
  </body>
</html>
